<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> 
     <link rel="stylesheet" type="text/css" href="css/styles.css"> 
  </head>
  <body>
  	<div class="header">
	  	<h1>1. Send a YO to YOYOLOWEST. </h1>
	  	<h1>2. Repeat. </h1>
    </div>
    <%= yield %>
  </body>
</html>
